In [1]:
# Dicts
# -Indexing
# -This can have duplicate values
# -Ordered
# -no duplicate index
# -Mutable

In [2]:
d = {}
print(type(d))

<class 'dict'>

In [3]:
# d = {<key>:<value>,<key>:<value>,<key>:<value>}
d = {"a":"Apple","b":"Ball"}
print(d)

{'a': 'Apple', 'b': 'Ball'}

In [4]:
len(d)

2

In [6]:
print(d["a"])

Apple

In [7]:
d = {"a":"Apple","b":"Ball","A":"Apple"}
print(d)

{'a': 'Apple', 'b': 'Ball', 'A': 'Apple'}

In [8]:
d = {"a":"Apple","b":"Ball","a":"Ant"}
print(d)

{'a': 'Ant', 'b': 'Ball'}

In [10]:
a = dict()
a["a"] = "Apple"
a["b"] = "Ball"
a

{'a': 'Apple', 'b': 'Ball'}

In [11]:
a = {'a': 'Apple', 'b': 'Ball'}
a['a'] = 'apple'
print(a)

{'a': 'apple', 'b': 'Ball'}

In [14]:
a = {'a': 'Apple', 'b': 'Ball'}
b = {'c':'Cat'}
a.update(b)
print(a)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [15]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    key = name
    value = phone
    d[key] = value
    
print(d)

Enter n = 2
Enter name = Apple
Enter phone = 9856556543
Enter name = Ram
Enter phone = 9856554543
{'Apple': 9856556543, 'Ram': 9856554543}

In [16]:
print(d["Ram"])

9856554543

In [17]:
a = {'Apple': 9856556543, 'Ram': 9856554543}
for i in a:
    print(i)

Apple
Ram

In [18]:
a = {'Apple': 9856556543, 'Ram': 9856554543}
for i in a.items():
    print(i)

('Apple', 9856556543)
('Ram', 9856554543)

In [19]:
a = {'Shyam': 9856556543, 'Ram': 9856554543}
for i in a.values():
    print(i)

9856556543
9856554543

In [21]:
d = [('Apple', 9856556543),('Ram', 9856554543)]
print(dict(d))

{'Apple': 9856556543, 'Ram': 9856554543}

In [23]:
a = {'Apple': 9856556543, 'Ram': 9856554543}
del a['Apple']
print(a)

{'Ram': 9856554543}

In [25]:
a = {'Apple': 9856556543, 'Ram': 9856554543}
print(a.pop('Apple'))

9856556543

In [27]:
a = {'Shyam': 9856556543, 'Ram': 9856554543}
b = a.pop('Shyam')
print(b)

9856556543

In [28]:
# list inside dict
a = {'Ram':[9856554543,9808776765],'Shyam': [9856556543,9856554543]}

In [29]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = int(input("Enter ntc phone = "))
    ncell = int(input("Enter ncell phone = "))
    key = name
    value = [ntc,ncell]
    d[key] = value
    
print(d)

Enter n = 2
Enter name = Ram
Enter ntc phone = 9867665654
Enter ncell phone = 9867665654
Enter name = Shyam
Enter ntc phone = 9856554543
Enter ncell phone = 9856554543
{'Ram': [9867665654, 9867665654], 'Shyam': [9856554543, 9856554543]}

In [30]:
na = []
nt = []
nc = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = int(input("Enter ntc phone = "))
    ncell = int(input("Enter ncell phone = "))
    na.append(name)
    nt.append(ntc)
    nc.append(ncell)
d = {"Name":na,"NTC":nt,"NCELL":nc}
print(d)

Enter n = 2
Enter name = Ram
Enter ntc phone = 9878776765
Enter ncell phone = 9856554543
Enter name = Shyam
Enter ntc phone = 9856554543
Enter ncell phone = 9808556543
{'Name': ['Ram', 'Shyam'], 'NTC': [9878776765, 9856554543], 'NCELL': [9856554543, 9808556543]}

In [31]:
a = {'Name': ['Ram', 'Shyam'], 'NTC': [9878776765, 9856554543], 'NCELL': [9856554543, 9808556543]}
for i in a:
    print(i)

Name
NTC
NCELL

In [32]:
a = {'Name': ['Ram', 'Shyam'], 'NTC': [9878776765, 9856554543], 'NCELL': [9856554543, 9808556543]}
for i in a.items():
    print(i)

('Name', ['Ram', 'Shyam'])
('NTC', [9878776765, 9856554543])
('NCELL', [9856554543, 9808556543])

In [35]:
a = {'Name': ['Ram', 'Shyam'], 'NTC': [9878776765, 9856554543], 'NCELL': [9856554543, 9808556543]}
a['Name'][0] = 'Rama'
print(a)

{'Name': ['Rama', 'Shyam'], 'NTC': [9878776765, 9856554543], 'NCELL': [9856554543, 9808556543]}

In [36]:
a = {'Name': ['Ram', 'Shyam'], 'NTC': [9878776765, 9856554543], 'NCELL': [9856554543, 9808556543]}
del a['Name'][0]
print(a)

{'Name': ['Shyam'], 'NTC': [9878776765, 9856554543], 'NCELL': [9856554543, 9808556543]}

In [2]:
# # Dictionary indside list
# a = [{'Name':"Ram",'Age':34,'Add':'Kathmandu'},
#     {'Name':"Rama",'Age':34,'Add':'patan'},
#     {'Name':"Shyam",'Age':24,'Add':'Bhaktapur'}]

In [3]:
a = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    d = {'Name':name,'Age':age,'Address':add}
    a.append(d)
    
print(a)

Enter n = 2
Enter name = Ram
Enter age = 34
Enter add = Kathmandu
Enter name = Shyam
Enter age = 78
Enter add = Patan
[{'Name': 'Ram', 'Age': 34, 'Address': 'Kathmandu'}, {'Name': 'Shyam', 'Age': 78, 'Address': 'Patan'}]

In [4]:
for i in a:
    print(i)

{'Name': 'Ram', 'Age': 34, 'Address': 'Kathmandu'}
{'Name': 'Shyam', 'Age': 78, 'Address': 'Patan'}

In [5]:
for i in a:
    print(i.values())

dict_values(['Ram', 34, 'Kathmandu'])
dict_values(['Shyam', 78, 'Patan'])

In [6]:
a = [{'Name': 'Ram', 'Age': 34, 'Address': 'Kathmandu'}, {'Name': 'Shyam', 'Age': 78, 'Address': 'Patan'}]
del a[0]

{'Name': 'Ram', 'Age': 34, 'Address': 'Kathmandu'}

In [8]:
a = [{'Name': 'Ram', 'Age': 34, 'Address': 'Kathmandu'}, {'Name': 'Shyam', 'Age': 78, 'Address': 'Patan'}]
del a[0]['Name']
a

[{'Age': 34, 'Address': 'Kathmandu'},
 {'Name': 'Shyam', 'Age': 78, 'Address': 'Patan'}]

In [10]:
a = [{'Name': 'Ram', 'Age': 34, 'Address': 'Kathmandu'}, {'Name': 'Shyam', 'Age': 78, 'Address': 'Patan'}]
a[0]['Name'] = 'Rama'
a

[{'Name': 'Rama', 'Age': 34, 'Address': 'Kathmandu'},
 {'Name': 'Shyam', 'Age': 78, 'Address': 'Patan'}]

In [11]:
a = {('Ram','Shyam'):9867665654}
a

{('Ram', 'Shyam'): 9867665654}

In [12]:
a = {['Ram','Shyam']:9867665654}
a

TypeError: unhashable type: 'list'

In [14]:
# dict inside dict
d = {'Ram':{'Ntc':9867665654,'Ncell':9845445786},
    'Shyam':{'Ntc':9867665652,'Ncell':9845445784}}
d

{'Ram': {'Ntc': 9867665654, 'Ncell': 9845445786},
 'Shyam': {'Ntc': 9867665652, 'Ncell': 9845445784}}

In [17]:
for i in d.values():
    print(i)

{'Ntc': 9867665654, 'Ncell': 9845445786}
{'Ntc': 9867665652, 'Ncell': 9845445784}

In [1]:
a = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    d = {'Name':name,'Age':age,'Address':add}
    a[name] = {'Age':age,'Address':add}
    
print(a)

Enter n = 2
Enter name = Ram
Enter age = 45
Enter add = Kathmandu
Enter name = Shyam
Enter age = 23
Enter add = Patan
{'Ram': {'Age': 45, 'Address': 'Kathmandu'}, 'Shyam': {'Age': 23, 'Address': 'Patan'}}