In [32]:
a = 10
b = 20.4
c = 'Hello World'
d = True

print(a)
print(b)
print(c)
print(d)
print(a,b,c,d)

10
20.4
Hello World
True
10 20.4 Hello World True

In [7]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [8]:
# + - * / % // **

In [1]:
a = 10
b = 3
print(a//b)

3

In [14]:
a = 10
b = 3
print(a%b)

1

In [16]:
a = 10
b = 3
print(a//b)

3

In [17]:
a = 10
b = 3
print(a**b)

1000

In [18]:
a = 10
b = 3
c = a**b
print(c)

1000

In [19]:
p = 100000
t = 2.5
r = 10.5
i = p*t*r/100
print(i)

26250.0

In [20]:
a = "Hello "
b = "World"
c = a+b
print(c)

Hello World

In [22]:
a = "Hello World "
print(a*3)

Hello World Hello World Hello World

In [4]:
a = "Hello World\n"
print(a*3)

Hello World
Hello World
Hello World

In [1]:
# input()
a = input()
a

100

'100'

In [28]:
a = input("Enter a = ")
b = input("Enter b = ")
c = a+b
print(c)

Enter a = 1
Enter b = 2
12

In [2]:
a = int(input("Enter a = "))
b = int(input("Enter b = "))
c = a+b
print(c)

Enter a = 100
Enter b = 200
300

In [5]:
p = int(input("Enter p = "))
t = float(input("Enter t = "))
r = float(input("Enter r = "))

i = p*t*r/100
print("The value of i is =",i)

Enter p = 2000
Enter t = 3
Enter r = 4
The value of i is = 240.0

In [31]:
a =input("Enter a = ")
b = input("Enter b = ")
c = int(a)+int(b)
print(c)

Enter a = 100
Enter b = 200
300

In [34]:
a = 10
b = float(a)
print(b)

10.0

In [37]:
a = '10'
b = int(a)
print(b)

10

In [8]:
age = int(input("Enter age = "))

Enter age = 10

In [40]:
a = 10
b = 20

c = str(a)+str(b)
print(c)

1020

In [10]:
# WAP to find area of a circle
pi = 3.14
r = float(input("Enter r = "))
a = pi*(r**2)
print("The area is",a,"Unit sqr")

Enter r = 12
The area is 452.16 Unit sqr