In [1]:
# List
# -This is Indexed
# -Ordered
# -Duplicate members
# -Mutable

In [2]:
a = []
b = list()
print(type(a))

<class 'list'>

In [3]:
a = [1,2,3,4,5,6]
b = ["Apple","Ball","cat"]
print(a,b)

[1, 2, 3, 4, 5, 6] ['Apple', 'Ball', 'cat']

In [6]:
a = ['Apple', 'Ball', 'cat']
print(a[1])
print(len(a))

Ball
3

In [9]:
a = [1,2,3,4,5,6,7,8,9,10]
a[0:5]

[1, 2, 3, 4, 5]

In [10]:
a = [1,2,3,4,5,6,7,8,9,10]
a[0:9:2]

[1, 3, 5, 7, 9]

In [12]:
a = ["Apple","Ball","Cat"]
b = ["Fish"]
c = b+a
print(c)

['Fish', 'Apple', 'Ball', 'Cat']

In [13]:
a = [1,2,3,4,2,3,4,1,2]
print(a)

[1, 2, 3, 4, 2, 3, 4, 1, 2]

In [15]:
a = ['Fish', 'Apple', 'Ball', 'Cat']
a[0] = 'fish'
print(a)

['fish', 'Apple', 'Ball', 'Cat']

In [16]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    l = l+[x]
    
print(l)

Enter n = 3
Enter x = Apple
Enter x = Ball
Enter x = Cat
['Apple', 'Ball', 'Cat']

In [18]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    l = l+[x]
    
print("The lis is = ",l)
print("The sum = ",sum(l))
print("The max value = ",max(l))
print("The min value  = ",min(l))

Enter n = 5
Enter x = 12312
Enter x = 3532
Enter x = 45645
Enter x = 23234
Enter x = 45656
The lis is =  [12312, 3532, 45645, 23234, 45656]
The sum =  130379
The max value =  45656
The min value  =  3532

In [21]:
l.sort()
print(l)

[3532, 12312, 23234, 45645, 45656]

In [22]:
l.reverse()

In [23]:
print(l)

[45656, 45645, 23234, 12312, 3532]

In [24]:
a = ['Fish', 'apple', 'Ball', 'cat']
a.sort()
print(a)

['Ball', 'Fish', 'apple', 'cat']

In [25]:
for i in a:
    print(i)

Ball
Fish
apple
cat

In [26]:
a = ['Fish', 'apple', 'Ball', 'cat']
l = len(a)
for i in range(l):
    print(a[i])

Fish
apple
Ball
cat

In [30]:
a = ['Fish', 'apple', 'Ball', 'cat']
if "apple" in a:
    print("Yes")
    print("there are ",a.count("apple"))
else:
    print("No")

Yes
there are  1

In [31]:
s = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    s = s+[f"{name} {age} {add} {phone}"]
print(s)

Enter n = 2
Enter name = Ram
Enter phone = 9856556543
Enter age = 34
Enter add = Kathmandu
Enter name = Shyam
Enter phone = 98556543
Enter age = 34
Enter add = kathmandu
['Ram 34 Kathmandu 9856556543\n', 'Shyam 34 kathmandu 98556543\n']

In [34]:
name = input("Enter name = ")
a = ['Ram 34 Kathmandu 9856556543\n', 'Shyam 34 kathmandu 98556543\n']
for i in a:
    if name in i:
        print(i)

Enter name = Shyam
Shyam 34 kathmandu 98556543

In [35]:
# append() insert() extend()
a = []
a.append("Apple")
a

['Apple']

In [36]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    l.append(x)
    
print(l)

Enter n = 2
Enter x = Apple
Enter x = Ball
['Apple', 'Ball']

In [38]:
a = ['Apple', 'Ball']
a.insert(1,'Cat')
print(a)

['Apple', 'Cat', 'Ball']

In [39]:
a = ["Apple","ball","cat"]
b = ["Fish","Goat"]
a.extend(b)
print(a)

['Apple', 'ball', 'cat', 'Fish', 'Goat']

In [40]:
# index()
a = ['Apple', 'ball', 'cat', 'Fish', 'Goat']
a.index("cat")

2

In [42]:
# index()
a = ['Apple', 'ball', 'cat', 'Fish', 'Goat','cat']
l = len(a)
x = input("Enter x = ")
for i in range(l):
    if a[i] == x:
        print(i)

Enter x = cat
2
5

In [44]:
a = ['Apple', 'ball', 'cat', 'Fish', 'Goat']
a[0] = "Ant"
a

['Ant', 'ball', 'cat', 'Fish', 'Goat']

In [45]:
# del remove() pop()
a = ['Apple', 'ball', 'cat', 'Fish', 'Goat']
del a[0]
print(a)

['ball', 'cat', 'Fish', 'Goat']

In [46]:
a = ['Apple', 'ball', 'cat', 'Fish', 'Goat']
del a[0:3]
print(a)

['Fish', 'Goat']

In [48]:
a = ['Apple', 'ball', 'cat', 'Fish', 'Goat']
a.remove('ball')
print(a)

['Apple', 'cat', 'Fish', 'Goat']

In [49]:
a = ['Apple', 'ball', 'cat', 'Fish', 'Goat','ball']
a.remove('ball')
print(a)

['Apple', 'cat', 'Fish', 'Goat', 'ball']

In [50]:
a = ['Apple', 'ball', 'cat', 'Fish', 'Goat','ball']
x = input("Enter x = ")
for i in a:
    if i == x:
        a.remove(x)
        
print(a)

Enter x = ball
['Apple', 'cat', 'Fish', 'Goat']

In [53]:
a = ['Apple', 'ball', 'cat', 'Fish', 'Goat']
a.pop(2)
print(a)

['Apple', 'ball', 'Fish', 'Goat']

In [54]:
a = ['Apple', 'ball', 'cat', 'Fish', 'Goat']
b = a.pop(2)
print(a)
print(b)

['Apple', 'ball', 'Fish', 'Goat']
cat

In [55]:
a = ['Apple', 'ball', 'cat', 'Fish', 'Goat']
a.clear()
print(a)

[]

In [3]:
# list inside list
a = [[],[],[],[]]
print(type(a))
print(a)
print(len(a))

<class 'list'>
[[], [], [], []]
4

In [4]:
a = [[1,2,3],
     [4,5,6],
     [7,8,9]]
print(a)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [5]:
a[0]

[1, 2, 3]

In [6]:
a[0][0]

1

In [7]:
a = [["Ram",43,'Kathmandu'],["Shyam",34,"Bara"]]
b = [["Hari",54,"Patan"]]
c = a+b
print(c)

[['Ram', 43, 'Kathmandu'], ['Shyam', 34, 'Bara'], ['Hari', 54, 'Patan']]

In [8]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = input("Enter age = ")
    add = input("Enter add = ")
    x = [name,age,add]
    l.append(x)
    
print(l)

Enter n = 2
Enter name = Ram
Enter age = 43
Enter add = Kathmandu
Enter name = Shyam
Enter age = 64
Enter add = Bara
[['Ram', '43', 'Kathmandu'], ['Shyam', '64', 'Bara']]

In [9]:
for i in l:
    print(i)

['Ram', '43', 'Kathmandu']
['Shyam', '64', 'Bara']

In [11]:
for i in l:
    if "Ram" in i:
        print(i)

['Ram', '43', 'Kathmandu']

In [14]:
l = [['Ram', '43', 'Kathmandu'], ['Shyam', '64', 'Bara']]
n = len(l)
name = input("Enter name = ")
for i in range(n):
    if l[i][0] == name:
        print(i,l[i])

Enter name = Ram
0 ['Ram', '43', 'Kathmandu']

In [15]:
s = []
net_total = 0
n = int(input("Enter n = "))
for i in range(n):
    product = input("Enter product name = ")
    price = int(input("Enter price = "))
    qty = int(input("Enter qty = "))
    total = price*qty
    net_total = net_total+total
    
    s.append([product,price,qty,total])
    
    
print(s)
print("The total price = ",net_total)

Enter n = 2
Enter product name = Apple
Enter price = 34
Enter qty = 2
Enter product name = Ball
Enter price = 566
Enter qty = 3
[['Apple', 34, 2, 68], ['Ball', 566, 3, 1698]]
The total price =  1766

In [18]:
a = [['Ram', '43', 'Kathmandu'], ['Shyam', '64', 'Bara']]
a[0][0] = "Rama"
a

[['Rama', '43', 'Kathmandu'], ['Shyam', '64', 'Bara']]

In [20]:
a = [['Ram', '43', 'Kathmandu'], ['Shyam', '64', 'Bara']]
del a[0]
a

[['Shyam', '64', 'Bara']]

In [22]:
a = "Ram 34 Kathmandu 98565565543\nShyam 34 Kathmandu 9856665654"
print(a)

Ram 34 Kathmandu 98565565543
Shyam 34 Kathmandu 9856665654

In [26]:
c = []
b = a.split('\n')
for i in b:
    x = i.split()
    c.append(x)
print(c)

[['Ram', '34', 'Kathmandu', '98565565543'], ['Shyam', '34', 'Kathmandu', '9856665654']]

In [30]:
m = []
r = int(input("Enter r = "))
c = int(input("Enter c = "))
for i in range(r):
    z = []
    for j in range(c):
        x = input("enter x = ")
        z.append(x)
    m.append(z)
print(m)

Enter r = 2
Enter c = 2
enter x = 1332
enter x = 432423
enter x = 242343
enter x = 3453
[['1332', '432423'], ['242343', '3453']]

In [ ]:
# WAP for result management system  (name marks total per grade)