In [1]:
a = 'Hello World'
print(a)

Hello World

In [3]:
print(type(a))

<class 'str'>

In [4]:
a = input("Enter the value of a = ")
print(a)

Enter the value of a = 10
10

In [5]:
a = "Hello "
b = "World"
c = a+b
print(c)

Hello World

In [6]:
a = "Hello World"
print(a*3)

Hello WorldHello WorldHello World

In [8]:
a = "Hello World I am Python"
a[0:11]

'Hello World'

In [10]:
a = "Hello World I am Python"
a[0:20:2]

'HloWrdIa y'

In [12]:
# String formitting
name = "Ram"
add = "Kathmandu"
c = f"Hello I am {name}. I am from {add}"
print(c)

Hello I am Ram. I am from Kathmandu

In [13]:
# String formitting
name = "Ram"
add = "Kathmandu"
age = 34
c = f"Hello I am {name}. I am from {add} I am {age}"
print(c)

Hello I am Ram. I am from Kathmandu I am 34

In [15]:
s = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    s = s+f"{name} {age} {add} {phone}\n"
print(s)

Enter n = 2
Enter name = Ram
Enter phone = 98565565543
Enter age = 34
Enter add = Kathmandu
Enter name = Shyam
Enter phone = 9856665654
Enter age = 34
Enter add = Kathmandu
Ram 34 Kathmandu 98565565543
Shyam 34 Kathmandu 9856665654

In [2]:
s = str()
net_total = 0
n = int(input("Enter n = "))
for i in range(n):
    product = input("Enter product name = ")
    price = int(input("Enter price = "))
    qty = int(input("Enter qty = "))
    total = price*qty
    net_total = net_total+total
    
    s = s+f"{product} {price} {qty} {total}\n"
    
    
print(s)
print("The total price = ",net_total)

Enter n = 2
Enter product name = Coke
Enter price = 200
Enter qty = 2
Enter product name = Momo
Enter price = 150
Enter qty = 4
Coke 200 2 400
Momo 150 4 600

The total price =  1000

In [3]:
a = "Ram Shyam Hari Sita Gita"
a.upper()

'RAM SHYAM HARI SITA GITA'

In [4]:
a = "Ram Shyam Hari Sita Gita"
a.lower()

'ram shyam hari sita gita'

In [5]:
a = "Ram Shyam Hari Sita Gita"
if "Hari" in a:
    print("yes")
else:
    print("No")

yes

In [7]:
a = "Ram Shyam Hari Sita Gita"
if "Hari" in a:
    print("yes")
    x = a.count("Hari")
    print(x)
else:
    print("No")

yes
1

In [9]:
a = "Ram Shyam Hari Sita Gita"
l_a = a.lower()
name = input("Enter name = ")
l_n = name.lower()

if l_n in l_a:
    print("yes")
    x = l_a.count(l_n)
    print(x)
else:
    print("No")

Enter name = hari
yes
1

In [11]:
a = "Ram Shyam Hari Sita Gita"
x = a.replace('Ram','ram')
print(x)
print(a)

ram Shyam Hari Sita Gita
Ram Shyam Hari Sita Gita

In [13]:
a = "Ram Shyam Hari Sita Gita"
x = a.replace('Ram','')
print(x)

 Shyam Hari Sita Gita

In [16]:
a = "Ram Shyam Hari Sita Gita Ram"
x = a.replace('Ram','')
print(x)

 Shyam Hari Sita Gita

In [14]:
a = "Ram Shyam Hari Sita Gita"
search = input("Enter search = ")
change = input("Enter change = ")
x = a.replace(search,change)
print(x)

Enter search = Gita
Enter change =
Ram Shyam Hari Sita

In [15]:
# split()
a = "Ram Shyam Hari Sita Gita"
a.split()

['Ram', 'Shyam', 'Hari', 'Sita', 'Gita']