In [1]:
# Tuple
# indexed
# ordered
# duplicate
# imutable

In [2]:
a = (1,2,3)
print(type(a))

<class 'tuple'>

In [3]:
a = ("Apple","ball","Cat")
print(type(a))
print(a)

<class 'tuple'>
('Apple', 'ball', 'Cat')

In [8]:
a = (1,)
print(a)
type(a)

(1,)

tuple

In [10]:
a = ("Apple","ball","Cat")
print(a[1])

ball

In [12]:
a = ("Apple","ball","Cat")
b = ("Dog",)
c = a+b
print(c)

('Apple', 'ball', 'Cat', 'Dog')

In [13]:
a = ("Apple","Ball","Cat","Apple")
print(a)

('Apple', 'Ball', 'Cat', 'Apple')

In [14]:
a = ("Apple","Ball","Cat","Apple")
for i in a:
    print(i)

Apple
Ball
Cat
Apple

In [16]:
a = tuple()
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    a = a+(x,)
    
print(a)

Enter n = 4
Enter x = Apple
Enter x = Ball
Enter x = Cat
Enter x = Dog
('Apple', 'Ball', 'Cat', 'Dog')

In [19]:
a = ('Apple', 'Ball', 'Cat', 'Dog')
a

('Apple', 'Ball', 'Cat', 'Dog')

In [20]:
b = list(a)
print(b)

['Apple', 'Ball', 'Cat', 'Dog']

In [21]:
a = ('Apple', 'Ball', 'Cat', 'Dog')
b = list(a)
b.remove("Apple")
a = tuple(b)
print(a)

('Ball', 'Cat', 'Dog')

In [22]:
# search
a = ('Apple', 'Ball', 'Cat', 'Dog')
if "Apple" in a:
    print("Yes")

Yes

In [26]:
a = ('apple', 'Ball', 'Cat', 'Dog')
x = sorted(a)
print(x)
print(a)

['Ball', 'Cat', 'Dog', 'apple']
('apple', 'Ball', 'Cat', 'Dog')

In [28]:
# tuple inside tuple
# a = ((1,2,3),(4,5,6),(7,8,9))
l = ()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = input("Enter age = ")
    add = input("Enter add = ")
    x = (name,age,add)
    l = l+(x,)
    
print(l)

Enter n = 2
Enter name = Ram
Enter age = 34
Enter add = Kathandu
Enter name = Shyam
Enter age = 34
Enter add = Patan
(('Ram', '34', 'Kathandu'), ('Shyam', '34', 'Patan'))

In [29]:
3tuple inside list
a = (('Ram', '34', 'Kathandu'), ('Shyam', '34', 'Patan'))
list(a)

[('Ram', '34', 'Kathandu'), ('Shyam', '34', 'Patan')]

In [31]:
a = [('Ram', '34', 'Kathandu'), ('Shyam', '34', 'Patan')]
del a[0]
print(a)

[('Shyam', '34', 'Patan')]

In [32]:
a = [('Ram', '34', 'Kathandu'), ('Shyam', '34', 'Patan')]
del a[0][0] 
print(a)

TypeError: 'tuple' object doesn't support item deletion

In [36]:
#list inside tuple
a = (['Ram', '34', 'Kathandu'], ['Shyam', '34', 'Patan'])
a[0][0] = "Rama"
a

(['Rama', '34', 'Kathandu'], ['Shyam', '34', 'Patan'])

In [ ]:
l = ()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = input("Enter age = ")
    add = input("Enter add = ")
    x = [name,age,add]
    l = l+(x,)
    
print(l)

In [37]:
m = ()
r = int(input("Enter r = "))
c = int(input("Enter c = "))
for i in range(r):
    z = ()
    for j in range(c):
        x = input("enter x = ")
        z = z+(x,)
    m = m+(z,)
print(m)

Enter r = 2
Enter c = 2
enter x = 1
enter x = 2
enter x = 3
enter x = 4
(('1', '2'), ('3', '4'))

In [ ]:
# sum()
# max()
# min()
# sorted()
# index()